*{
    padding:0;
    margin:0;
    font-family: "inter";
    box-sizing: border-box;
}
body{
    padding:60px 80px;
    background-color: hsl(36, 100%, 99%);
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-sizing: border-box;
    margin-bottom:35px;
}
.logo{
    display: inline-block;
    grid-column:1/2;
    grid-row:1/2;
}
.logo img{
    padding:0;
    position:relative;
    top:10px;
}
.navbar{
 grid-column: 8/13;
 justify-self: end;
}
.navbar ul{
    white-space: nowrap;
    margin:20px auto;
}
.navbar ul li{
    list-style-type: none;
    display:inline-block;
    margin-left:25px;
}
.navbar ul li a{
    text-decoration: none;
    margin:9px;
    color: hsl(236, 13%, 42%);

}
.content{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:10px;
}
.main-img{
    grid-column: 1/9;
    grid-row:1/2;
    display:flex;
}
.main-img img{
    max-width:100%;
    flex-shrink:1.5;
}
.latest_news{
    grid-column:9/13;
    grid-row:1/3;
    background-color: hsl(240, 100%, 5%);
    padding: 25px;
    margin-left:20px;
    margin-bottom:30px;
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.new h2{
    color: hsl(35, 77%, 62%);
    font-size:2.5em;
    margin:10px 0 20px 0;
}
.latest_news div{
    padding:10px;
}
.latest_news div h3{
    color: hsl(36, 100%, 99%);
    font-size:1.3em;
    padding:15px 0;
}
.latest_news div p{
    color:hsl(233, 13%, 61%);
    font-size:0.9em;
    margin:4px 0 5px 0;
}
.main-heading{
    grid-column: 1/5;
    grid-row:2/3;
    margin:20px 0;
    height:226px;
}
.main-heading h1{
    font-size:3.8em;
    color:hsl(240, 100%, 5%);
}
main{
    grid-column:5/9;
    grid-row:2/3;
    margin:20px 20px;
    display:flex;
    flex-direction: column;
    height:226px;
}
main p{
    color:hsl(233, 8%, 79%);
    margin-bottom:10px;
    line-height:2.1em;
}
main button{
    padding:10px 27px;
    margin-top:40px;
    background-color:hsl(5, 85%, 63%);
    text-transform: uppercase;
    color:hsl(36, 100%, 99%);
    font-weight:700;
    letter-spacing: 0.2em;
    justify-self:baseline;
    align-self: flex-start;
    position: relative;
    bottom:10px;
    border-color:hsl(5, 85%, 63%);
}
.retro_pc{
    grid-column:1/2;
    grid-row:3/4;
    width:140px;
    margin:20px auto;
}
.retro_pc img{
    width:100%;
    height:100%;
}
.retro_content{
    grid-column: 2/5;
    margin:20px auto;
}
.img_laptop{
    grid-column:5/6;
    grid-row:3/4;
    width:140px;
    margin:20px auto;
}
.img_laptop img{
    width:100%;
    height:100%;
}
.laptop_content{
    grid-column:6/9;
    margin:20px auto;
}
hr{
    color:hsl(231, 38%, 26%);
    margin:30px 0;
    position:relative;
    top:6px;
}
.joystick{
    width:140px;
    grid-column:9/10;
    grid-row:3/4;
    margin:20px auto;
}
.joystick img{
    width:100%;
    height:100%;
}
.gaming_growth{
    grid-column:10/13;
    grid-row:3/4;
    margin:20px auto;
}
.number{
    color:hsl(233, 13%, 61%);
    font-size:1.8em;
    padding:0 15px;
    margin-bottom:15px;
}
.news{
    padding:0 15px;
    margin-bottom:15px;
    font-size:1.2em;
    font-weight:700;
    color:hsl(240, 100%, 5%);
}
.main_content{
    padding:0 15px;
    color:hsl(233, 13%, 61%);
}
.retro_content,.laptop_content,.gaming_growth{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.latest_news h3:hover{
    color:hsl(35, 77%, 62%);
    cursor: pointer;
}
main button:hover{
    background-color:hsl(240, 100%, 5%);
    cursor:pointer;
}
.news:hover{
    color:hsl(5, 85%, 63%);
    cursor:pointer;
}
.navbar ul li a:hover{
    color:hsl(5, 85%, 63%);
}
.img_laptop,.joystick{
    margin-left:20px;
}
.sidebar{
    position:fixed;
    height:100vh;
    top:0;
    right:0;
    width:60vw;
    z-index:999;
    background-color:hsl(36, 100%, 99%);
    display:flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content:flex-start;
    display:none;
    padding:25px;
    margin:0;
}
.sidebar ul{
    display:block;
    margin-top:0;
    
}
.sidebar ul li{
    width:100%;
}
.links{
    padding:20px 20px 20px 0;
    position:relative;
    top:100px;
}
.links a{
    font-size:1.4em;
    color:hsl(240, 100%, 5%);
}
.sidebar li a{
    width:100%;
    color:hsl(240, 100%, 5%);
}
.sidebar img{
    position:absolute;
    right:25px;
}
.sidedark{
    position:fixed;
    height:100vh;
    top:0;
    left:0;
    width:40vw;
    z-index:997;
    background-color:hsla(240, 100%, 5%, 0.395);
}
ul.sidebar{
    margin-top:0px;
    margin:0;
}
ul.sidebar li a{
    color:hsl(240, 100%, 5%);
}


@media screen and (max-width:850px) {
    *{
        padding:0px;
        margin:0px;
    }
    .mainbar{
        display:none;
    }
    body{
        padding:40px 20px;
    }
    .content{
        grid-template-rows:minmax(100px,auto);
    }
    .main-img{
        grid-column:1/13;
        grid-row:1/3;
        margin:20px 0;
        height:350px;
    }
    .main-heading{
        grid-column:1/13;
        grid-row:3/4;
        margin:0;
        align-self:center;
    }
    .main-heading h1{
        font-weight:800;
    }
    main{
        grid-column:1/13;
        grid-row:4/5;
        margin:0;
    }
    main p{
        margin:0;
        padding:0;
    }
    main button{
        margin:20px 0;
        padding:12px 36px ;
    }
    .latest_news{
        grid-column:1/13;
        grid-row:5/6;
        margin:10px 0 40px 0;
        padding:15px;
    }
    .retro_pc{
        grid-column:1/5;
        grid-row:6/7;
        margin:0;
        padding:0;
        margin-top:25px;
        
    }
    .retro_content{
        grid-column:5/13;
        grid-row:6/7;
        margin:0;
        padding:0;
        margin-top:25px;
    }
    .img_laptop{
        grid-column:1/5;
        grid-row:7/8;
        margin:0;
        padding:0;
    }
    .laptop_content{
        grid-column:5/13;
        grid-row:7/8;
        margin:0;
        padding:0;
    }
    .joystick{
        grid-column:1/5;
        grid-row:8/9;
        margin:0;
        padding:0;
    }
    .gaming_growth{
        grid-column:5/13;
        grid-row:8/9;
        margin:0;
        padding:0;
    }
    .number{
        font-size:2.1em;
    }
    .number,.news,.main_content{
        padding:0px 0 0 15px;
        margin:0;
    }
    .news{
      font-size:1.4em;
    }
    .retro_pc,.img_laptop,.joystick{
        padding-right:5px;
    }
    .main_content{
        line-height: 2em;
    }
    .nav2{
        justify-self:center;
        position:relative;
        top:8px;
    }
    .nav2 img{
        height:100%;
    }
    header{
        margin-bottom:20px;
    }
    .sidebar{
        display:none;
    }
}
@media screen and (min-width:800px) {
    .nav2{
        display:none;
    }
    
}
@media screen and (max-width:400px) {
    body{
        padding:15px;
    }
    .retro_pc,.img_laptop,.joystick{
        width:110px;
    }
    /* .main-heading{
        height:260px;
    } */
}
@media screen and (max-width:370px){
    .main-heading{
        height:auto;
    }
    .main_content{
        height:auto;
    }
}